@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background-color: rgb(190, 190, 190);
}

.Nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.Nav ul li {
  margin: 0 10px;
}

.Nav ul li a {
  color: black;
  text-decoration: none;
}

.Nav ul li a:hover {
  color: crimson;
}

.components {
  width: 100%;
  padding: 30px 50px;
}

.Tambah {
  width: 400px;
  text-align: center;
  margin: auto;
}

.Tambah label {
  display: block;
  font-weight: bold;
  margin: 10px 0 3px 0;
}

.Tambah input,
select {
  width: 100%;
  outline: none;
  border: 2px solid grey;
  padding: 3px 10px;
  font-size: 16px;
  color: rgb(58, 58, 58);
  border-radius: 5px;
  font-weight: 600;
}

.Tambah button {
  background-color: crimson;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

.chasier {
  width: 100%;
  padding: 10px 30px;
  display: flex;
}

.chasier .kiri {
  width: 70%;
  display: inline-block;
}

.menu {
  width: 280px;
  padding: 20px;
  border: 3px solid black;
  text-align: center;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.menu h2 {
  color: crimson;
}

.judul {
  width: 80%;
  margin: 20px auto 10px auto;
  text-align: center;
  border-bottom: 2px solid gray;
  padding-bottom: 8px;
}

.chasier .kanan {
  width: 30%;
  padding: 10px;
  height: max-content;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 40px;
}

.judulpesan {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid gray;
}

.harga {
  display: flex;
  margin-top: 10px;
  border-top: 2px solid gray;
}

.harga input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 230px;
  pointer-events: none;
}

table {
  width: 100%;
  text-align: left;
}

table th,
td {
  padding: 10px;
}

table button {
  color: aliceblue;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 2px;
}
table .tambah {
  background-color: green;
}

table .kurang,
.hapus {
  background-color: crimson;
}
table .edit {
  background-color: rgb(194, 194, 0);
}

.Tambah .edit {
  background-color: rgb(194, 194, 0);
}

.tabel {
  width: 80%;
  margin: 20px auto;
}

.edits {
  width: 100%;
  display: flex;
  padding: 30px;
}

.editsKiri {
  width: 60%;
}

.editsKanan {
  width: 40%;
  margin-top: 30px;
}
